<mat-toolbar class="header">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="cards">
  <mat-card-content>Profession</mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select
    [(ngModel)]="professionName"
      (selectionChange)="
        getRecipesForProfession()
      "
    >
      <mat-option
        *ngFor="let item of professionsList"
        value="{{ item.profession }}"
        >{{ item.profession }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</mat-card>

<mat-card class="cards">
  <mat-card-content>Levels</mat-card-content>
 <table class="table">
  <td>
    <mat-label>Minimum Recipe Level</mat-label>
  <input id="RecipeMinLevel" [(ngModel)]="recipeMinLevel" (change)="getRecipesForProfession()" matInput type="number" placeholder="0" value="0"/>
</td>
<td>
  <mat-label>Maximum Recipe Level</mat-label>
  <input id="RecipeMaxLevel" [(ngModel)]="recipeMaxLevel" (change)="getRecipesForProfession()" matInput type="number" placeholder="230" value="230"/>
</td>
</table>
</mat-card>

<mat-card class="cards">

  <mat-label>Filter Recipe Name</mat-label>
  <input id="filterrecipename" [(ngModel)]="recipeName" (change)="getRecipesForProfession()" matInput placeholder="Recipe Name" />

  <table class="table" mat-table [dataSource]="recipesList">


    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef><mat-checkbox></mat-checkbox></td>
    </ng-container>

    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef> Qty </th>
      <td mat-cell *matCellDef><input id="RecipeQuantity" matInput type="number" placeholder="0" value="0"/></td>
    </ng-container>

    <ng-container matColumnDef="recipename">
      <th mat-header-cell *matHeaderCellDef>Recipe Name</th>
      <td mat-cell *matCellDef="let row"><a href={{row.urlID}}>{{row.Name}}</a></td>
    </ng-container>

    <ng-container matColumnDef="recipeid">
      <th mat-header-cell *matHeaderCellDef>Recipe ID</th>
      <td mat-cell *matCellDef="let row">{{ row.ItemID }}</td>
    </ng-container>

    <ng-container matColumnDef="recipeingredients">
      <th mat-header-cell *matHeaderCellDef>Ingredients</th>
      <td mat-cell *matCellDef="let row"><p *ngFor="let item of row.Recipe">{{item.qty}}:<a href={{item.urlID}}>{{item.urlID}}</a></p></td>
    </ng-container>

  <!-- Blocked by Cloudflare on Ankama's Side
    <ng-container matColumnDef="recipeimage">
      <th mat-header-cell *matHeaderCellDef>Recipe Image</th>
      <td mat-cell *matCellDef="let row"> <img src="{{row.urlImage}}"> </td>
    </ng-container>
  -->

  <ng-container matColumnDef="recipetype">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let row">{{ row.Type }}</td>
  </ng-container>

    <ng-container matColumnDef="recipelevel">
      <th mat-header-cell *matHeaderCellDef>Recipe Level</th>
      <td mat-cell *matCellDef="let row">{{ row.Level }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of Recipes">
  </mat-paginator>

  <div class="example-button-row">
    <button mat-raised-button color="primary">Submit</button>
  </div>
</mat-card>
