@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: gray;
}

html, body {
  height: 100%;
}

mat-card-title {
  color: white;
}

.body {
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.divFlex {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  opacity: .5;
}

.cards {
  width: 99%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
  margin-top: 5px;
}

.recipeCardsContainer {
  width: 99%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: stretch;
}

.recipeCardsDiv {
  display: flex;
}

.recipeCards {
  margin:5px;
}

.table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submitOrder {
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  border-bottom: 1px solid;
}

a:link {
  color: whitesmoke;
}

a:visited {
  color: white;
}

a:focus {
  border-bottom: 1px solid;
  background: black;
}

a:hover {
  border-bottom: 1px solid;
  background: black;
}

a:active {
  background: black;
  color: black;
}
